### Symfony ###
/var/
/vendor/
/public/bundles/
/.env.local
/.env.local.php
/.env.*.local
/phpunit.xml
/phpunit.result.cache
/.phpunit.cache/
/node_modules/
assets/vendor/

# Symfony UX / Stimulus
assets/controllers.json

### Tests ###
/coverage/
/reports/
/test-output/
/.phpunit.cache/
/phpunit.xml
/phpunit.xml.dist
/phpunit.result.cache

### Logs ###
/*.log
/var/log/
/var/cache/test/

### Cache ###
/.cache/
/npm-cache/
/yarn-error.log
/pnpm-debug.log

### IDE ###
.vscode/
.idea/

### Code style ###
.php-cs-fixer.cache

### Assets compilés ###
/public/assets/

### CI ###
/.github/workflows/*.tmp
