### Symfony ###
/var/
/vendor/
/public/bundles/
/.env.local
/.env.local.php
/.env.*.local
/phpunit.xml
/.phpunit.cache/
/node_modules/

### VSCode (ignore tout le dossier .vscode) ###
.vscode/

### Logs ###
/*.log

### Cache ###
/.cache/
/npm-cache/
/yarn-error.log
/pnpm-debug.log
