{% extends 'base.html.twig' %}

{% block body %}
  <section class="card section-gap">
    <h2 class="h2">
      <svg class="icon" aria-hidden="true"><use href="#icon-cloud"/></svg>
      <span>Page introuvable (404)</span>
    </h2>

    {% include 'components/_alert.html.twig' with {
      type: 'error',
      title: 'Oups, ciel dégagé ici…',
      message: 'La page que vous recherchez est introuvable.',
      action_label: 'Retour à l’accueil',
      action_url: path('home')
    } %}
  </section>
{% endblock %}
